<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899702493362-j11ga4nki146btcquio1ieb4q3lsfpag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899702493362-j11ga4nki146btcquio1ieb4q3lsfpag</string>
	<key>API_KEY</key>
	<string>AIzaSyDR9WnWysrjnpTRCkQR75w3Fx5TuQI4fNw</string>
	<key>GCM_SENDER_ID</key>
	<string>899702493362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZoltanBeke.BuildMyPC</string>
	<key>PROJECT_ID</key>
	<string>buildmypc-76485</string>
	<key>STORAGE_BUCKET</key>
	<string>buildmypc-76485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899702493362:ios:6f6f85a5939c0cb714b9ab</string>
	<key>DATABASE_URL</key>
	<string>https://buildmypc-76485.firebaseio.com</string>
</dict>
</plist>